body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 3px solid #332a2a;
  text-align: left;
  padding: 8px;
}

th {
    font-family: 'Courier New', Courier, monospace;
}
