@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

h1,
input {
  font-family: 'Pokemon Solid', sans-serif;
}

h1 {
  padding-left: 15px;
}

#pokemonForm {
  padding-left: 15px;
}

.button {
  background-color: #6f4caf;
  color: #0af51d;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Pokemon Solid', sans-serif;
}